---
interface Props {
  title: string
}

const { title } = Astro.props

import Cursor from '../components/Cursor.astro'
import Menu from '../components/Menu.astro'
import Nav from '../components/Nav.astro'
import Transition from '../components/Transition.astro'
import './global.css'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative h-full min-h-screen scroll-smooth">
    <Transition />
    <Nav />
    <Menu />
    <Cursor />
    <div
      class="window overflow-hidden w-full h-full fixed z-[1] top-0 right-0 pointer-events-auto"
    >
      <div data-barba="wrapper">
        <main
          data-barba="container"
          data-barba-namespace="index"
          class="w-full overflow-hidden flex pointer-events-none"
        >
          <div data-scroll-section>
            <slot />
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
